<h1>Student</h1>
<div class="student">
  <h3>Name: <%= @student.name %></h3><br>
  <h4>Grade: <%= @student.grade %></h4>
</div><br>

<h1>Courses</h1>
<% @courses.each do |course| %>
<div class="course">
  <h3>Name: <%= course.name %></h3><br>
  <h4>Topic: <%= course.topic %></h4><br>
</div><br>
<% end %>
